html {
    box-sizing: border-box;
}
*, *::before, *::after {
    block-size: inherit;
}
body {

    font-family: "Open Sans", sans-serif;
}

:root {
  --font-family: "OpenSans", sans-serif;
  --second-family: "Bebas Neue", sans-serif;
}
/* НАЧАЛО: SECTION Desktop HD   */
.desktop {
width: 1440px;
height: 2810px;
background: #5570e7;
margin: 0 auto;

}
/* КОНЕЦ: SECTION Desktop HD */

/* НАЧАЛО: ШАПКА САЙТА  */
.header {
width: 1440px;
height: 768px;
background: #D8D8D8;
border: 1px solid #979797;
left: calc(50% - 1440px/2);
top: 0px;
background-image: url('../img/bg.png');

}
.projeco-logo {
width: 101px;
height: 23px;
padding-top: 41px;
margin: 0 auto;
}
.header_text1 {
width: 600px;
height: 60px;
padding-top: 310px;
margin: 0 auto;
margin-bottom: 8px;

}
.bebas-neue-regular {
font-family: var(--second-family);
font-weight: 400;
font-size: 60px;
letter-spacing: 0.1em;
text-align: center;
color: #FFFFFF;
}
.header_text2 {
    width: 386px;
height: 22px;
font-family: var(--font-family);
font-weight: 600;
font-size: 16px;
text-align: center;
color: #fff;
margin: 0 auto;
margin-bottom: 218px;
}
.header_text3 {
    width: 120px;
height: 15px;
font-size: 11px;
line-height: 13px;
align-items: flex-end;
text-align: center;
letter-spacing: 3.7px;
margin: 0 auto;

color: #FFFFFF;
}
/* КОНЕЦ: ШАПКА САЙТА  */

/* НАЧАЛО: SECTION  navbar*/
.navbar_konstrukt {
width: 1440px;
height: 65px;
left: calc(50% - 1442px/2);
top: 768px;
background: #e75586;
margin-bottom: 58px;
}
/* КОНЕЦ: SECTION  navbar*/

/* НАЧАЛО: SECTION  about*/
.about {
width: 941px;
height: 344px;
background: #081de0;
margin: 0 auto;
margin-bottom: 118px;
}
/* КОНЕЦ: SECTION  about*/

/* НАЧАЛО: SECTION  services*/
.services {
/* services */
width: 940px;
height: 446px;
background: #e9671c;
margin: 0 auto;
margin-bottom: 115px;
}
/* КОНЕЦ: SECTION  services*/


/* НАЧАЛО: SECTION  get-in-touch*/
.get-in-touch {
width: 1440px;
height: 499px;
background: #3749eb;
margin: 0 auto;
}
/* КОНЕЦ: SECTION  get-in-touch*/


/* НАЧАЛО: SECTION  newsletter*/
.newsletter {
width: 1440px;
height: 100px;
background: #e9671c;
margin: 0 auto;
}
/* КОНЕЦ: SECTION  newsletter*/


/* НАЧАЛО: SECTION  footer*/
.footer {
width: 1440px;
height: 299px;
background: #3749eb;
margin: 0 auto;
}
/* КОНЕЦ: SECTION  footer*/
